<div class="w-full bg-white shadow-md flex items-center max-lg:justify-between lg:justify-end">
  <div class="px-2 justify-center items-center gap-4 max-lg:flex lg:hidden">
    <img src="./assets/images/logo.png" alt="Logo" class="w-10 h-auto" />
    <div class="h-6 border border-solid border-gray-500 my-2.5"></div>
    <nav class="flex space-x-2 text-[12px]">
      <a href="/index.html" class="flex items-center px-4 py-1 text-gray-600 hover:bg-gray-200 rounded bg-blueme-300">
        <span class="material-icons text-[16px]">article</span>
        <span class="ml-3">Post List</span>
      </a>
      <a href="/report.html" class="flex items-center px-4 py-1 text-gray-600 hover:bg-gray-200 rounded bg-blueme-300">
        <span class="material-icons text-[16px]">bar_chart</span>
        <span class="ml-3">Reports</span>
      </a>
    </nav>
  </div>
  <div class="py-4 flex gap-2 pr-4">
    <div class="w-6 h-6 bg-greenme rounded-full text-center">
      <span class="material-icons text-sm align-middle text-white mx-auto block leading-6 text-center">person</span>
    </div>
    <span>Malwa Auliya</span>
  </div>
</div>