<div class="w-64 bg-white h-full p-4 flex flex-col shadow-lg z-11 fixed lg:block max-lg:hidden">
  <div class="flex justify-center items-center space-x-3 mb-6">
    <img src="./assets/images/logo.png" alt="Logo" class="w-30 h-auto" />
  </div>
  <nav class="flex flex-col h-screen space-y-2 text-[16px]">
    <a href="/index.html" class="flex items-center px-4 py-2 text-gray-600 hover:bg-gray-200 rounded bg-blueme-300">
      <span class="material-icons">article</span>
      <span class="ml-3">Post List</span>
    </a>
    <a href="/report.html" class="flex items-center px-4 py-2 text-gray-600 hover:bg-gray-200 rounded bg-blueme-300">
      <span class="material-icons">bar_chart</span>
      <span class="ml-3">Reports</span>
    </a>
  </nav>
</div>